language: node_js
dist: bionic
sudo: required
node_js: stable

# Build only master and release tags
branches:
  only:
  - master

env:
  matrix:
  - PATH=$HOME/purescript:$PATH

install: ./scripts/install.sh

script: ./scripts/build.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: generated-docs/html
  on:
    branch: master
